[submodule "riscv-dv/riscv-dv"]
	path = riscv-dv/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv.git
[submodule "self_checking_tests/Self-Checking-Tests"]
	path = self_checking_tests/Self-Checking-Tests
	url = https://github.com/merledu/Self-Checking-Tests.git
