# Node specific files
node_modules

# Python specific files
__pycache__
venv

# Editor specific files
.vscode
.idea

# Burq specific files
web/pathfile
web/pathfilev

simulate_rtl/*
!simulate_rtl/simulate.sh
!simulate_rtl/Top.cpp
