alabaster==0.7.12
asttokens==2.0.8
attrs==22.1.0
Babel==2.10.3
bitstring==3.1.9
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
docutils==0.17.1
Eel==0.14.0
executing==1.1.1
flake8==5.0.4
future==0.18.2
gevent==22.10.1
gevent-websocket==0.10.1
greenlet==1.1.3.post0
icecream==2.1.3
idna==3.4
imagesize==1.4.1
importlib-metadata==5.0.0
inflection==0.5.1
Jinja2==3.1.2
jsonschema==4.16.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
numpy==1.23.4
packaging==21.3
Pallets-Sphinx-Themes==2.0.2
pandas==1.5.1
Pillow==9.3.0
psutil==5.9.3
PyBoolector==3.2.2.20221010.1
pycodestyle==2.9.1
pyflakes==2.5.0
pyflow==0.3.1
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.19.1
python-dateutil==2.8.2
python-jsonschema-objects==0.4.1
pytz==2022.5
pyucis==0.1.2.2686817964
pyvsc==0.8.0.3304598593
PyYAML==6.0
reportlab==3.6.12
requests==2.28.1
rst2pdf==0.99
six==1.16.0
smartypants==2.0.1
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-issues==3.0.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-log-cabinet==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.9.0
toposort==1.7
urllib3==1.26.12
whichcraft==0.6.1
zipp==3.10.0
zope.event==4.5.0
zope.interface==5.5.0
