*{
    margin: 0% !important;
}
.parent {
    border: 1px solid black;
    margin: 1rem;
    /* padding: 2rem 2rem; */
    text-align: center;
    background-color: #4A697E;
    width: 90%;
    height: 100%;
}
.child {
    display: inline-block;
    /* border: 1px solid white; */
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  .child p{
      font-size: 25px;
      color: white;
      padding-top: 10px;
  }
 
  .clo5{
    background-color: #0a0a1d;
    width: 100%;
    height: 5%;
  }

  .clo7{
    position: relative;
    right: 30%;
    color: white;
    font-size: 25px;
}
.clo6{
    position: relative;
    left: 30%;
    font-size: 25px;


}