@font-face {
    font-family: ubuntu;
    src: url('../fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf') format('truetype');
}
@font-face {
    font-family: ubuntu;
    font-weight: bold;
    src: url('../fonts/ubuntu-font-family-0.83/Ubuntu-B.ttf') format('truetype');
}
@font-face {
    font-family: jetbrains_mono_nerd;
    src: url('./fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
}
