body {
    background-color: #292B32;
    font-family: ubuntu;
}

div#failed_login_alert.alert.alert-danger {
    display: none;
}

button.btn.text-white.border.border-0.rounded-pill.shadow.px-5.py-2.rounded-2 {
    background-image: linear-gradient(135deg, #17738F 10%, #023548 100%);
}
