body {
    background-color: #16161e;
    font-family: ubuntu;
}
#proj_area {
    height: 47px;
}
#explorer {
    width: 20%;
    border: solid #0A0e14 1px;
    padding: 0;
}
.folder_node {
    color: white;
    list-style-type: none;
}
.dir {
    cursor: pointer;
    user-select: none;
}
.dir::before {
    content: '\25B6';
    margin-right: 6px;
}
.caret-down::before {
    transform: rotate(90deg);
}
.nested {
    display: none;
}
.active {
    display: block;
}
#code_area {
    width: 60%;
}
